<nav>
  <a class="button" routerLink="/bienvenido">Bienvenido</a> |
  <a class="button" routerLink="/login">Login</a> |
  <a class="button" routerLink="/error">Error</a>
</nav>

<router-outlet></router-outlet>
<form>
  <label for="nombre">Nombre:</label><br>
  <input [(ngModel)]="nombre" type="text" id="nombre" name="nombre"><br>
  <label for="clave">Clave:</label><br>
  <input [(ngModel)]="clave" type="text" id="clave" name="clave">
  <br>
  <br>
  <br>
  <button (click) = "crear()" type="button" name="crear">Crear instancia de la clase usuario</button>

  <br>
</form>

<h2> {{usuario.nombre}} {{usuario.clave}}</h2>